<br>
<p-card header="Usuários" [style]="{'margin-bottom': '2rem'}" subheader="Mostrando todos os usuários" styleClass="p-card-shadow">
    <p>Nesta página, você poderá ver o consumo de API. Onde a mesma puxa todo o conteúdo da tabela correspondente para o front end relacionado a usuários.</p>
</p-card>
<br>
<p-table>
    <ng-template pTemplate="header">
        <tr>
            <th>
                Todos os Usuários
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr>
            <td>
                   Campos Campos
            </td>
        </tr>
    </ng-template>
</p-table>
