<h1>Crie uma Conta</h1>
<form name="form" novalidate>
    <span class="p-float-label">
        <input id="float-input" type="text" name="username" pInputText class="p-inputtext-lg"
            placeholder="Nome de Usuário">
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" name="usermail" pInputText class="p-inputtext-lg"
            placeholder="Email de Usuário">
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText class="p-inputtext-lg" placeholder="Senha de Usuário">
    </span>

    <button type="button" pButton label="Criar Conta" class="p-button-lg"></button>

</form>