<br>
<p-card header="Produtos" [style]="{'margin-bottom': '2rem'}" subheader="Mostrando todos os produtos cadastrados" styleClass="p-card-shadow">
    <p>Nesta página, você poderá ver o consumo de API. Onde a mesma puxa todo o conteúdo da tabela correspondente para o front end.</p>
</p-card>
<br>
<p-table [value]="products">
    <ng-template pTemplate="header">
        <tr>
            <th>
                Todos os Produtos
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Preco</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products>
        <tr>
            <td>
                {{products.id}}
            </td>
            <td>
                {{products.nome}}
            </td>
            <td>
                {{products.descricao}}
            </td>
            <td>
                {{products.preco}}
            </td>
        </tr>
    </ng-template>
</p-table>
