<form>
    
    <div class="w3-container">        
        <div class="w3-card-4">
          <div class="w3-container w3-green">
            <h2>Criando Novo Produto</h2>
          </div>
      
          <form class="w3-container">
            <p>
            <input class="w3-input" type="text">
            <label>Nome do Produto</label></p>
            <p>     
            <input class="w3-input" type="text">
            <label>Descricao do Produto</label></p>
            <p>     
            <input class="w3-input" type="number">
            <label>Preço do Produto</label></p>
            <button (click)="create()" class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Criar Produto</button>
          </form>
        </div>
      </div>

</form>
